**/.terraform/*

*.tfstate
*.tfstate.*

crash.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan

.terraformrc
terraform.rc

.terraform.lock.hcl

**/.terraform/**/*.exe
**/.terraform/**/*.zip
**/.terraform/providers/**
terraform-provider-*

*.pub
hyperleap-key
new_hyperleap_key

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db